.container {
  position: absolute;
  top: 5px;
  left: 50%;
  padding: 12px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.2);
  transform: translateX(-50%);
  overflow: hidden;
}

.toolItem {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  padding: 12px;
  color: black;
  cursor: pointer;
  margin-right: 20px;
}

.toolItem:last-child {
  margin-right: 0;
}

.toolItem:hover {
  background-color: #e6f7ff;
  color: #555;
  border-radius: 6px;
}

.toolItem.active {
  background-color: #b3d9ff;
  color: #555;
  border-radius: 6px;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 8px;
    transform: translateX(0);
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .toolItem {
    font-size: 1rem;
    padding: 6px;
    margin-right: 8px;
    flex: 1 1 auto;
  }

  .toolItem:last-child {
    margin-right: 0;
  }
}
